{% from "../../../../macros/tableMacro.njk" import sortableTableHeader %}
{% from "../../../../macros/pagination/macro.njk" import pagination %}

<div id="offender-container">
    {% if employerListResults.content.length >= 1 %}
        <table id="view-offender" class="govuk-table view-offender">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                {{ sortableTableHeader({
                    sort: sort,
                    order: order,
                    formName: "employer-search-form",
                    fieldName: "name",
                    headerText: "Employer",
                    id: "employer-sort-link"
                }) }}
                <th scope="col" class="govuk-table__header">Employer sector</th>
                <th scope="col" class="govuk-table__header">Employer status</th>
                {{ sortableTableHeader({
                    sort: sort,
                    order: order,
                    formName: "employer-search-form",
                    fieldName: "createdAt",
                    headerText: "Date added",
                    id: "createdAt-sort-link"
                }) }}
            </tr>
        </thead>

        <tbody class="govuk-table__body">
        {% set rowClass = cycler("odd", "even") %}

        {% for item in employers %}
            <tr class="govuk-table__row {{ rowClass.next() }}">
                <td class="govuk-table__cell">
                    <a href="{{ addressLookup.employers.employerReview(item.id) }}"
                       rel="noopener noreferrer"
                       data-qa="quick-look-link"
                       aria-label="Employer link for {{ item.employerName }}"
                       class="govuk-link govuk-link--no-visited-state"
                       id= "employer-link-{{ loop.index }}">{{ item.name }}</a>
                </td>
                <td class="govuk-table__cell" id= "employer-sector-{{ loop.index }}">
                    {{ contentLookup.employerSector[item.sector] }}
                </td>
                <td class="govuk-table__cell" id="employer-status-{{ loop.index }}">
                    {{ contentLookup.employerStatus[item.status] }}
                </td>
                <td class="govuk-table__cell">{{ item.createdAt }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}

    {% if paginationData.results.count >= 1 and employerListResults.content.length >= 1 %}
        {{ pagination( paginationData ) }}
    {% else %}
        {% include './_notFoundMessages.njk' %}
    {% endif %}
</div>