{% if employerListResults.page.totalElements === 0 %}
  {% if employerSectorFilter and employerNameFilter %}
    <span class="govuk-heading-m" id="no-results-message">0 results for "{{ employerNameFilter | safe }}" in {{ contentLookup.employerSector[employerSectorFilter] }}</span>
    <p>Check your spelling and search again, or select another sector.</p>
  {% elif employerNameFilter %}
    <span class="govuk-heading-m" id="no-results-message">0 results for "{{ employerNameFilter | safe }}" in employers's name</span>
    <p>Check your spelling and search again, or clear the search and browse for the employer.</p>
  {% elif employerSectorFilter %}
    <span class="govuk-heading-m" id="no-results-message">0 results in {{ contentLookup.employerSector[employerSectorFilter] }}</span>
    <p>Select another sector, or search by employer.</p>
  {% else %}
    <span class="govuk-heading-m" id="no-results-message">0 results found</h3>
  {% endif %}
{% endif %}