<form method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
  <div style="float: right;">
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="addEmployerButton" name="addEmployerButton">
      Add an employer
    </button>
  </div>
</form>