{% extends "govuk/template.njk" %}

{% block head %}
    <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet" />
    <script type="module" src="/assets/govukFrontendInit.js"></script>
    <script src="/assets/moj/all.js"></script>
    <script src="/assets/mojFrontendInit.js"></script>
    <script src="/assets/accessible-autocomplete.min.js"></script>

    {% if googleTagManagerContainerId %}
        <!-- Google Tag Manager -->
        <script nonce="{{ cspNonce }}">(function(w, d, s, l, i) {
            w[l] = w[l] || []
            w[l].push({
              'gtm.start': new Date().getTime(), event: 'gtm.js',
            })
            var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''
            j.async = true
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
            f.parentNode.insertBefore(j, f)
          })(window, document, 'script', 'dataLayer', '{{ googleTagManagerContainerId }}')</script>
        <!-- End Google Tag Manager -->
    {% endif %}

    {% if feComponents.jsIncludes %}
        {% for js in feComponents.jsIncludes %}
            <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
        {% endfor %}
    {% endif %}

    {% if feComponents.cssIncludes %}
        {% for css in feComponents.cssIncludes %}
            <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
        {% endfor %}
    {% endif %}
{% endblock %}

{% block pageTitle %}{{ pageTitle | default(applicationName) }}{% endblock %}

{% block header %}
    {% if feComponents.header %}
        {{ feComponents.header | safe }}
    {% else %}
        {% include "./header.njk" %}
    {% endif %}
{% endblock %}

{% block bodyStart %}
    {% if googleTagManagerContainerId %}
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id={{ googleTagManagerContainerId }}"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endif %}
{% endblock %}

{% block footer %}
    {% if feComponents.footer %}
        {{ feComponents.footer | safe }}
    {% else %}
        {% include "./footer.njk" %}
    {% endif %}
{% endblock %}

{% block bodyEnd %}

{% endblock %}
