API_CLIENT_ID=XXXX
API_CLIENT_SECRET=XXXX
SYSTEM_CLIENT_ID=XXXX
SYSTEM_CLIENT_SECRET=XXXX
SESSION_SECRET=XXXX

MPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
SYSTEM_PHASE=DEV
TOKEN_VERIFICATION_API_URL=https://token-verification-api-dev.prison.service.justice.gov.uk
NOMIS_USER_ROLES_API_URL=https://nomis-user-roles-api-dev.prison.service.justice.gov.uk
DPS_URL=https://digital-dev.prison.service.justice.gov.uk
COMPONENT_API_URL=https://frontend-components-dev.hmpps.service.justice.gov.uk
MANAGE_USERS_API_URL=https://manage-users-api-dev.hmpps.service.justice.gov.uk
JOB_API_URL=https://jobs-board-api-dev.hmpps.service.justice.gov.uk
# JOB_API_URL=localhost:8080
WORK_AFTER_RELEASE_URL=https://get-ready-for-work-dev.hmpps.service.justice.gov.uk

#Feature flags:
FEATURE_FLAG_NATIONAL_JOBS=true
FEATURE_FLAG_BROKER_ITERATION=true