{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../../macros/error-summary/macro.njk" import errorSummary %}

{% set title = "Check your answers before adding job" if mode === 'add' else jobTitle %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  {{ errorSummary(errors) }}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l" data-qa="headerCaption">{{ 'Add' if mode === 'add' else 'Update' }} an job - step 5 of 5</span>
        <h1 class="govuk-heading-l">
          {{ title }}
        </h1>

        <h2 class="govuk-heading-m">Job role and source</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Employer name
            </dt>
            <dd class="govuk-summary-list__value" data-qa="employerId">
              {{ employerName }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobRoleUpdate(id, 'update') + '#employerId' }}" data-qa="employerIdLink">
                Change<span class="govuk-visually-hidden"> employer name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job title
            </dt>
            <dd class="govuk-summary-list__value" data-qa="jobTitle">
              {{ jobTitle }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobRoleUpdate(id, 'update') + '#jobTitle' }}" data-qa="jobTitleLink">
                Change<span class="govuk-visually-hidden"> job title</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job sector
            </dt>
            <dd class="govuk-summary-list__value" data-qa="jobSector">
              {{ contentLookup.jobSector[jobSector] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobRoleUpdate(id, 'update') + '#jobSector' }}" data-qa="jobSectorLink">
                Change<span class="govuk-visually-hidden"> job sector</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              NFN industry sector	
            </dt>
            <dd class="govuk-summary-list__value" data-qa="industrySector">
              {{ contentLookup.employerSector[industrySector] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobRoleUpdate(id, 'update') + '#industrySector' }}" data-qa="industrySectorLink">
                Change<span class="govuk-visually-hidden"> NFN industry sector</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of vacancies
            </dt>
            <dd class="govuk-summary-list__value" data-qa="numberOfVacancies">
              {{ numberOfVacancies }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobRoleUpdate(id, 'update') + '#numberOfVacancies' }}" data-qa="numberOfVacanciesLink">
                Change<span class="govuk-visually-hidden"> number of vacancies</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job source	
            </dt>
            <dd class="govuk-summary-list__value" data-qa="jobSourceOne">
              {{ contentLookup.jobSource[jobSourceOne] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobRoleUpdate(id, 'update') + '#jobSourceOne' }}" data-qa="jobSourceOneLink">
                Change<span class="govuk-visually-hidden"> job source</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job source 2 (optional)
            </dt>
            <dd class="govuk-summary-list__value" data-qa="jobSourceTwo">
              {{ contentLookup.jobSource[jobSourceTwo] if jobSourceTwo else 'Not provided' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobRoleUpdate(id, 'update') + '#jobSourceTwo' }}" data-qa="jobSourceTwoLink">
                Change<span class="govuk-visually-hidden"> job source 2 (optional)</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Supported by a charity? (optional)
            </dt>
            <dd class="govuk-summary-list__value" data-qa="charity">
              {{ charity if charity else 'Not provided'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobRoleUpdate(id, 'update') + '#charity' }}" data-qa="charityLink">
                Change<span class="govuk-visually-hidden"> supported by a charity? (optional)</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Location and contract details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job location
            </dt>
            <dd class="govuk-summary-list__value" data-qa="postcode">
              {{ postcode }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobContractUpdate(id, 'update') + '#postcode' }}" data-qa="postcodeLink">
                Change<span class="govuk-visually-hidden"> job location</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Salary from
            </dt>
            <dd class="govuk-summary-list__value" data-qa="salaryFrom">
              £{{ salaryFrom | fixed }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobContractUpdate(id, 'update') + '#salaryFrom' }}" data-qa="salaryFromLink">
                Change<span class="govuk-visually-hidden"> salary from</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Salary to (optional)
            </dt>
            <dd class="govuk-summary-list__value" data-qa="salaryTo">
              £{{ (salaryTo | fixed) if salaryTo else 'Not provided' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobContractUpdate(id, 'update') + '#salaryTo' }}" data-qa="salaryToLink">
                Change<span class="govuk-visually-hidden"> salary to (optional)</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Salary period		
            </dt>
            <dd class="govuk-summary-list__value" data-qa="salaryPeriod">
              {{ contentLookup.salaryPeriod[salaryPeriod] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobContractUpdate(id, 'update') + '#salaryPeriod' }}" data-qa="salaryPeriodLink">
                Change<span class="govuk-visually-hidden"> salary period</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional salary information (optional)
            </dt>
            <dd class="govuk-summary-list__value" data-qa="additionalSalaryInformation">
              {{ additionalSalaryInformation if additionalSalaryInformation else 'Not provided' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobContractUpdate(id, 'update') + '#additionalSalaryInformation' }}" data-qa="additionalSalaryInformationLink">
                Change<span class="govuk-visually-hidden"> additional salary information  (optional)</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pays at least minimum wage?	
            </dt>
            <dd class="govuk-summary-list__value" data-qa="nationalMinimumWage">
              {{ contentLookup.yesNo[nationalMinimumWage] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobContractUpdate(id, 'update') + '#nationalMinimumWage' }}" data-qa="nationalMinimumWageLink">
                Change<span class="govuk-visually-hidden"> pays at least minimum wage?</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Work pattern	
            </dt>
            <dd class="govuk-summary-list__value" data-qa="workPattern">
              {{ contentLookup.workPattern[workPattern] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobContractUpdate(id, 'update') + '#workPattern' }}" data-qa="workPatternLink">
                Change<span class="govuk-visually-hidden"> work pattern</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Hours per week	
            </dt>
            <dd class="govuk-summary-list__value" data-qa="hours">
              {{ contentLookup.hours[hours] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobContractUpdate(id, 'update') + '#hours' }}" data-qa="hoursLink">
                Change<span class="govuk-visually-hidden"> hours per week</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Contract type
            </dt>
            <dd class="govuk-summary-list__value" data-qa="contractType">
              {{ contentLookup.contractType[contractType] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobContractUpdate(id, 'update') + '#contractType' }}" data-qa="contractTypeLink">
                Change<span class="govuk-visually-hidden"> contract type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Base location (optional)
            </dt>
            <dd class="govuk-summary-list__value" data-qa="baseLocation">
              {{ contentLookup.baseLocation[baseLocation] if baseLocation else 'Not provided' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobContractUpdate(id, 'update') + '#baseLocation' }}" data-qa="baseLocationLink">
                Change<span class="govuk-visually-hidden"> base location (optional)</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Requirements and job description</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Essential job criteria
            </dt>
            <dd class="govuk-summary-list__value" data-qa="essentialCriteria">
              {{ essentialCriteria | nl2br | safe }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobRequirementsUpdate(id, 'update') + '#essentialCriteria' }}" data-qa="essentialCriteriaLink">
                Change<span class="govuk-visually-hidden"> essential job criteria</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Desirable job criteria (optional)
            </dt>
            <dd class="govuk-summary-list__value" data-qa="desirableCriteria">
              {{ (desirableCriteria | nl2br | safe) if desirableCriteria else 'Not provided'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobRequirementsUpdate(id, 'update') + '#desirableCriteria' }}" data-qa="desirableCriteriaLink">
                Change<span class="govuk-visually-hidden"> desirable job criteria (optional)</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job description
            </dt>
            <dd class="govuk-summary-list__value" data-qa="jobDescription">
              {{ jobDescription | nl2br | safe }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobRequirementsUpdate(id, 'update') + '#jobDescription' }}" data-qa="jobDescriptionLink">
                Change<span class="govuk-visually-hidden"> job description</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Offence exclusions
            </dt>
            <dd class="govuk-summary-list__value" data-qa="offenceExclusions">
              {% for item in offenceExclusions %}
                <div>{{ contentLookup.offenceExclusions[item] }}{{ ',' if offenceExclusions.length !== loop.index }}</div>
              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobRequirementsUpdate(id, 'update') + '#offenceExclusions' }}" data-qa="offenceExclusionsLink">
                Change<span class="govuk-visually-hidden"> offence exclusions</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">How to apply</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Rolling opportunity
            </dt>
            <dd class="govuk-summary-list__value" data-qa="rollingOpportunity">
              {{ contentLookup.yesNo[rollingOpportunity] }}
              <div data-qa="closingDate">Closing date: {{ closingDate }}</div>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobHowToApplysUpdate(id, 'update') + '#rollingOpportunity' }}" data-qa="rollingOpportunityLink">
                Change<span class="govuk-visually-hidden"> rolling opportunity?</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job only for prison leavers?
            </dt>
            <dd class="govuk-summary-list__value" data-qa="prisonLeaversJob">
              {{ contentLookup.yesNo[prisonLeaversJob] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobHowToApplysUpdate(id, 'update') + '#prisonLeaversJob' }}" data-qa="prisonLeaversJobLink">
                Change<span class="govuk-visually-hidden"> job only for prison leavers?</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job start date (optional)
            </dt>
            <dd class="govuk-summary-list__value" data-qa="startDate">
              {{ startDate if startDate else 'Not provided' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobHowToApplysUpdate(id, 'update') + '#startDate' }}" data-qa="startDateLink">
                Change<span class="govuk-visually-hidden"> job start date (optional)</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How to apply
            </dt>
            <dd class="govuk-summary-list__value" data-qa="howToApply">
              {{ howToApply | nl2br | safe }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobHowToApplysUpdate(id, 'update') + '#howToApply' }}" data-qa="howToApplyLink">
                Change<span class="govuk-visually-hidden"> how to apply</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Supporting documentation required (optional)
            </dt>
            <dd class="govuk-summary-list__value" data-qa="supportingDocumentation">
              {% if supportingDocumentation and supportingDocumentation.length %}
                {% for item in supportingDocumentation %}
                  <div>{{ contentLookup.supportingDocumentation[item] }}{{ ' - ' + supportingDocumentationDetails if item === 'OTHER' }}{{ ',' if supportingDocumentation.length !== loop.index }}</div>
                {% endfor %}
              {%else%}
                Not provided
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ addressLookup.jobs.jobRequirementsUpdate(id, 'update') + '#supportingDocumentation' }}" data-qa="supportingDocumentationLink">
                Change<span class="govuk-visually-hidden"> supporting documentation required</span>
              </a>
            </dd>
          </div>
        </dl>


        <form class="form" method="post" novalidate="">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          {{  
            govukButton({
              text: "Add employer and save" if mode === 'add' else "Update job and save" ,
              type: "submit",
              attributes: {
                "data-qa": "submit-button",
                "data-ga-category": "submit-selected-data"
              }
            }) 
          }}
        </form>

      </div>
    </div>
{% endblock %}
