{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../../macros/error-summary/macro.njk" import errorSummary %}
{% from "moj/components/alert/macro.njk" import mojAlert %}

{% set title = "Check your answers before adding job" if id === 'new' else jobTitle %}

{% block beforeContent %}
    {% if mode == "manage" %}
        {{ govukBackLink({ text: "Back", href: backLocation }) }}
    {% endif %}
{% endblock %}

{% block content %}
  {{ errorSummary(errors, "You must fix these problems before updates can be saved") }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if mode == "update" and id != "new" %}
            {{ mojAlert({
                  variant: "information",
                  title: "Updating " + jobTitle,
                  showTitleAsHeading: true,
                  dismissible: false,
                  html: 'Update the details below before saving.'
                })
            }}
        {% endif %}
      {% if id == "new" %}
        <span class="govuk-caption-l" data-qa="headerCaption">Add a job - step {{ '6 of 6' if useNationalJobs else '5 of 5' }}</span>
      {% elif mode == "update" %}
        <span class="govuk-caption-l" data-qa="headerCaption">Update a job</span>
      {% endif %}
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      {% include './partials/_roleSection.njk' %}

      {% if useNationalJobs %}
        {% include './partials/_isNationalSection.njk' %}
      {% endif %}

      {% include './partials/_contractSection.njk' %}

      {% include './partials/_requirementsSection.njk' %}

      {% include './partials/_howToApplySection.njk' %}

      <form class="form" method="post" novalidate="">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {% if mode == "manage" %}
            {{
              govukButton({
                text: "Update job" ,
                id: "updateJobButton",
                name: "updateJobButton",
                classes: "govuk-button",
                attributes: {
                  "data-qa": "update-button"
                }
              })
            }}
        {% else %}
            {{
              govukButton({
                text: "Add job and save" if id == "new" else "Update job and save" ,
                type: "submit",
                attributes: {
                  "data-qa": "submit-button",
                  "data-ga-category": "submit-selected-data"
                }
              })
            }}
        {% endif %}
        {% if brokerIterationEnabled === true and mode == "manage" %}
              {{ govukButton({
                text: "Duplicate job",
                id: "duplicateJobButton",
                name: "duplicateJobButton",
                classes: "govuk-button govuk-button--secondary",
                attributes: {
                  "data-qa": "duplicate-button"
                }
              }) }}
        {% endif %}
        {% if mode == "update" and id != "new" %}
              {{ govukButton({
                text: "Cancel and return to jobs list",
                id: "cancelUpdateButton",
                name: "cancelUpdateButton",
                classes: "govuk-button govuk-button--secondary",
                attributes: {
                  "data-qa": "cancel-update-button"
                }
              }) }}
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
