{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../../../macros/error-summary/macro.njk" import errorSummary %}
{% from "../../../macros/accessible-autocomplete/macro.njk" import accessibleAutocomplete %}

{% set title = "Is this a national job?"%}

{% block beforeContent %}
    {{ govukBackLink({ text: "Back", href: backLocation }) }}
{% endblock %}

{% block content %}
  {{ errorSummary(errors) }}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l" data-qa="headerCaption">{{ 'Add' if mode === 'add' else 'Update' }} a job - step 1 of 6</span>
        <h1 class="govuk-heading-l">
          {{ title }}
        </h1>

        <form class="form" method="post" novalidate="">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

            {{ govukRadios({
                name: "isNationalJob",
                hint: {
                  text: 'National jobs do not have a single hiring location. Select no if you know the postcode for the job.'
                },
                items: [
                  {
                    value: "YES",
                    text: 'Yes, this is a national job',
                    checked: isNationalJob === "YES"
                  },
                  {
                    value: "NO",
                    text: 'No, the job has a specific hiring location',
                    checked: isNationalJob === "NO"
                  }
                ],
                errorMessage: errors.isNationalJob
            })
          }}

          {{  
            govukButton({
              text: "Continue",
              type: "submit",
              attributes: {
                "data-qa": "submit-button",
                "data-ga-category": "submit-selected-data"
              }
            }) 
          }}

        </form>

      </div>
    </div>
{% endblock %}
