{#  -------------------------------------------------------------
    Auto complete control
    Params values
        id - inputField id and name
        label - label text
        hint - hint text
        list - options list { text, value }
        value - current field value
        class - additional classes to be applied to form-group
        errorMessage - standard validation error object { text }
    ------------------------------------------------------------- #}
{% macro accessibleAutocomplete(params) %}
  {%- include "./template.njk" -%}
{% endmacro %}