<h2 class="govuk-heading-m">How to apply</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Rolling opportunity
    </dt>
    <dd class="govuk-summary-list__value" data-qa="isRollingOpportunity">
      {{ contentLookup.yesNo[isRollingOpportunity] }}
      {% if isRollingOpportunity === 'NO' and brokerIterationEnabled === false %}
        <div data-qa="closingDate">Closing date: {{ closingDate }}</div>
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{ addressLookup.jobs.jobHowToApplysUpdate(id, 'update') + '#isRollingOpportunity' }}" data-qa="isRollingOpportunityLink">
        Change<span class="govuk-visually-hidden"> rolling opportunity?</span>
      </a>
    </dd>
  </div>
  {% if isRollingOpportunity === 'NO' and brokerIterationEnabled === true %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Closing date
      </dt>
      <dd class="govuk-summary-list__value" data-qa="closingDate">
        {{ closingDate }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{{ addressLookup.jobs.jobHowToApplysUpdate(id, 'update') + '#isRollingOpportunity' }}" data-qa="closingDateLink">
          Change<span class="govuk-visually-hidden"> closing date</span>
        </a>
      </dd>
    </div>
  {% endif %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Job only for prison leavers?
    </dt>
    <dd class="govuk-summary-list__value" data-qa="isOnlyForPrisonLeavers">
      {{ contentLookup.yesNo[isOnlyForPrisonLeavers] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{ addressLookup.jobs.jobHowToApplysUpdate(id, 'update') + '#isOnlyForPrisonLeavers' }}" data-qa="isOnlyForPrisonLeaversLink">
        Change<span class="govuk-visually-hidden"> job only for prison leavers?</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Job start date (optional)
    </dt>
    <dd class="govuk-summary-list__value" data-qa="startDate">
      {{ startDate if startDate else 'Not provided' }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{ addressLookup.jobs.jobHowToApplysUpdate(id, 'update') + '#startDate' }}" data-qa="startDateLink">
        Change<span class="govuk-visually-hidden"> job start date (optional)</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      How to apply
    </dt>
    <dd class="govuk-summary-list__value" data-qa="howToApply">
      {{ howToApply | nl2br | safe }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{ addressLookup.jobs.jobHowToApplysUpdate(id, 'update') + '#howToApply' }}" data-qa="howToApplyLink">
        Change<span class="govuk-visually-hidden"> how to apply</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Supporting documentation required (optional)
    </dt>
    <dd class="govuk-summary-list__value" data-qa="supportingDocumentationRequired">
      {% if supportingDocumentationRequired and supportingDocumentationRequired.length %}
        {% for item in supportingDocumentationRequired %}
          <div>{{ contentLookup.supportingDocumentation[item] }}{{ ' - ' + supportingDocumentationDetails if item === 'OTHER' }}{{ ',' if supportingDocumentationRequired.length !== loop.index }}</div>
        {% endfor %}
      {%else%}
        Not provided
      {% endif %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{ addressLookup.jobs.jobHowToApplysUpdate(id, 'update') + '#supportingDocumentationRequired' }}" data-qa="supportingDocumentationRequiredLink">
        Change<span class="govuk-visually-hidden"> supporting documentation required</span>
      </a>
    </dd>
  </div>
</dl>