<form method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
  <div>
    <button class="govuk-button govuk-button--secondary" style="float: right;" data-module="govuk-button" id="addJobButton" name="addJobButton">
      Add a job
    </button>
  </div>
</form>