<div class="govuk-form-group filter-box govuk-!-margin-top-4">
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
                Filter by
            </h2>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="jobSearchFilter">
                        Job title or employer name
                    </label>
                    <input class="govuk-input" id="jobSearchFilter" name="jobSearchFilter" type="search" value="{{ jobSearchFilter }}">
                </div>
            </div>

            <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                    <label class="govuk-heading-s govuk-!-margin-bottom-1" for="sectorFilter">
                        Job sector
                    </label>
                    <select class="govuk-select" id="sectorFilter" name="sectorFilter">
                        <option value="" {{ "selected" if sectorFilter === "" }}>All</option>
                        <option value="OUTDOOR" {{ "selected" if sectorFilter === "OUTDOOR" }}>{{ contentLookup.sector["OUTDOOR"] }}</option>
                        <option value="CONSTRUCTION" {{ "selected" if sectorFilter === "CONSTRUCTION" }}>{{ contentLookup.sector["CONSTRUCTION"] }}</option>
                        <option value="DRIVING" {{ "selected" if sectorFilter === "DRIVING" }}>{{ contentLookup.sector["DRIVING"] }}</option>
                        <option value="BEAUTY" {{ "selected" if sectorFilter === "BEAUTY" }}>{{ contentLookup.sector["BEAUTY"] }}</option>
                        <option value="HOSPITALITY" {{ "selected" if sectorFilter === "HOSPITALITY" }}>{{ contentLookup.sector["HOSPITALITY"] }}</option>
                        <option value="TECHNICAL" {{ "selected" if sectorFilter === "TECHNICAL" }}>{{ contentLookup.sector["TECHNICAL"] }}</option>
                        <option value="MANUFACTURING" {{ "selected" if sectorFilter === "MANUFACTURING" }}>{{ contentLookup.sector["MANUFACTURING"] }}</option>
                        <option value="OFFICE" {{ "selected" if sectorFilter === "OFFICE" }}>{{ contentLookup.sector["OFFICE"] }}</option>
                        <option value="RETAIL" {{ "selected" if sectorFilter === "RETAIL" }}>{{ contentLookup.sector["RETAIL"] }}</option>
                        <option value="SPORTS" {{ "selected" if sectorFilter === "SPORTS" }}>{{ contentLookup.sector["SPORTS"] }}</option>
                        <option value="WAREHOUSING" {{ "selected" if sectorFilter === "WAREHOUSING" }}>{{ contentLookup.sector["WAREHOUSING"] }}</option>
                        <option value="EDUCATION_TRAINING" {{ "selected" if sectorFilter === "EDUCATION_TRAINING" }}>{{ contentLookup.sector["EDUCATION_TRAINING"] }}</option>
                        <option value="WASTE_MANAGEMENT" {{ "selected" if sectorFilter === "WASTE_MANAGEMENT" }}>{{ contentLookup.sector["WASTE_MANAGEMENT"] }}</option>
                        <option value="CLEANING_AND_MAINTENANCE" {{ "selected" if sectorFilter === "CLEANING_AND_MAINTENANCE" }}>{{ contentLookup.sector["CLEANING_AND_MAINTENANCE"] }}</option>
                        <option value="OTHER" {{ "selected" if sectorFilter === "OTHER" }}>{{ contentLookup.sector["OTHER"] }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-button-group govuk-!-margin-top-3 govuk-!-margin-bottom-0">
                    <button class="govuk-button" data-module="govuk-button" id="applyFiltersButton">
                        Apply filters
                    </button>
                    {% if filtered %}
                        <a class="govuk-link" id="filter-clear-link" href="{{ addressLookup.jobs.jobList() }}">Clear</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>