{% macro pagination(params) %}
    <nav class="govuk-pagination {{- ' ' + params.classes if params.classes }}" aria-label="Pagination">

        {%- if params.previous %}
            <div class="govuk-pagination__prev">
                <a class="govuk-link govuk-pagination__link" href="{{ params.previous.href }}" rel="prev">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                        <path d="m6.7.3-6 6 6 6 1.4-1.4-3.6-3.6H15v-2H4.5l3.6-3.6z"></path>
                    </svg>
                    <span class="govuk-pagination__link-title">
                        {{ params.previous.text }}<span class="govuk-visually-hidden"> page</span>
                    </span>
                </a>
            </div>
        {% endif -%}

        <ul class="govuk-pagination__list">
            {%- for item in params.items %}
                {%- if item.type == 'dots' %}
                    <li class="govuk-pagination__item govuk-pagination__item--ellipses">…</li>
                {% else %}
                    {%- if item.selected %}
                        <li class="govuk-pagination__item govuk-pagination__item--current">
                            <a class="govuk-link govuk-pagination__link" href="{{ item.href }}" aria-label="Page {{ item.text }}" aria-current="page">
                                {{ item.text }}
                            </a>
                        </li>
                    {% else %}
                        <li class="govuk-pagination__item">
                            <a class="govuk-link govuk-pagination__link" href="{{ item.href }}" aria-label="Page {{ item.text }}">
                                {{ item.text }}
                            </a>
                        </li>
                    {% endif -%}
                {% endif -%}
            {% endfor -%}
        </ul>

        {%- if params.next %}
            <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="{{ params.next.href }}" rel="next">
                    <span class="govuk-pagination__link-title">
                        {{ params.next.text }}<span class="govuk-visually-hidden"> page</span>
                    </span>
                    <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                        <path d="m8.3.3 6 6-6 6-1.4-1.4 3.6-3.6H0v-2h10.5L6.9 1.7z"></path>
                    </svg>
                </a>
            </div>
        {% endif -%}

        {%- if params.results %}
            <p class="moj-pagination__results">Showing <b>{{ params.results.from }}</b> to
                <b>{{ params.results.to }}</b> of
                <b>{{ params.results.count }}</b> {{ params.results.text | default("results") }}</p>
        {% endif -%}

    </nav>
{% endmacro %}