{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../../macros/error-summary/macro.njk" import errorSummary %}


{% set title = "Requirements and job description"%}

{% block beforeContent %}
    {{ govukBackLink({ text: "Back", href: backLocation }) }}
{% endblock %}

{% block content %}
  {{ errorSummary(errors) }}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l" data-qa="headerCaption">{{ 'Add' if mode === 'add' else 'Update' }} a job - step {{ '4 of 6' if useNationalJobs else '3 of 5' }}</span>
        <h1 class="govuk-heading-l">
          {{ title }}
        </h1>

        <form class="form" method="post" novalidate="">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {{ govukTextarea({
            id: "essentialCriteria",
            name: "essentialCriteria",
            rows: "5",
            value: essentialCriteria | safe,
            type: "text",
            label: {
              text: "Essential job criteria"
            },
            hint: {
              text: "For example, full UK driving licence."
            },
            errorMessage: errors.essentialCriteria
          }) }}

          {{ govukTextarea({
            id: "desirableCriteria",
            name: "desirableCriteria",
            rows: "5",
            value: desirableCriteria | safe,
            type: "text",
            label: {
              text: "Desirable job criteria (optional)"
            },
            errorMessage: errors.desirableCriteria
          }) }}

          {{ govukTextarea({
            id: "description",
            name: "description",
            rows: "5",
            value: description | safe,
            type: "text",
            label: {
              text: "Job description"
            },
            hint: {
              text: "Describe the role and main tasks. Include any benefits and training opportunities."
            },
            errorMessage: errors.description
          }) }}

          {% set otherHtml %}
            {{ govukInput({
                id: "offenceExclusionsDetails",
                name: "offenceExclusionsDetails",
                value: offenceExclusionsDetails | safe,
                type: "text",
                label: {
                    text: "Give details",
                    attributes: { "aria-live": "polite" }
                },
                attributes: { "aria-label" : "Give details of any other offence exclusions" },
                errorMessage: errors.offenceExclusionsDetails
            }) }}
          {% endset -%}

          {{ govukCheckboxes({
            name: "offenceExclusions",
            fieldset: {
              legend: {
                  text: "Offence exclusions"
                }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "NONE",
                checked: offenceExclusions.indexOf("NONE") > -1,
                text: contentLookup.offenceExclusions["NONE"],
                behaviour: "exclusive"
              },
              {
                value: "CASE_BY_CASE",
                checked: offenceExclusions.indexOf("CASE_BY_CASE") > -1,
                text: contentLookup.offenceExclusions["CASE_BY_CASE"]
              },
              {
                value: "ARSON",
                checked: offenceExclusions.indexOf("ARSON") > -1,
                text: contentLookup.offenceExclusions["ARSON"]
              },
              {
                value: "DRIVING",
                checked: offenceExclusions.indexOf("DRIVING") > -1,
                text: contentLookup.offenceExclusions["DRIVING"]
              },
              {
                value: "MURDER",
                checked: offenceExclusions.indexOf("MURDER") > -1,
                text: contentLookup.offenceExclusions["MURDER"]
              },
              {
                value: "SEXUAL",
                checked: offenceExclusions.indexOf("SEXUAL") > -1,
                text: contentLookup.offenceExclusions["SEXUAL"]
              },
              {
                value: "TERRORISM",
                checked: offenceExclusions.indexOf("TERRORISM") > -1,
                text: contentLookup.offenceExclusions["TERRORISM"]
              },
              {
                value: "OTHER",
                checked: offenceExclusions.indexOf("OTHER") > -1,
                text: contentLookup.offenceExclusions["OTHER"],
                attributes: { "aria-label": contentLookup.offenceExclusions["OTHER"] + " (Opens a dialogue box)" },
                conditional: {
                  html: otherHtml
                }
              }
            ],
            errorMessage: errors.offenceExclusions
          }) }}

          {{  
            govukButton({
              text: "Continue",
              type: "submit",
              attributes: {
                "data-qa": "submit-button",
                "data-ga-category": "submit-selected-data"
              }
            }) 
          }}

        </form>

      </div>
    </div>
{% endblock %}
